/*body {
background-image: url("trees 2.jpg");
}*/

body {
  background-color: white;
}

/*#glitchArt {
  background-image: url("trees 2.jpg");
}

#albumArt {
  background-image: url("b&w trees.jpg");
}

#collages {
  background-image: url("pool steps b&w copy.jpg");
}*/

h1 {
  font-family: "cursive", cursive;
  color: white;
}

h2 {
  font-family: "cursive", cursive;
  color: white;
  text-decoration: none;
  font-size: 100%;
}

#button {
  background-color: pink;
  border-color: pink;
  border-radius: 20%;
}

#button2 {
  background-color: lightblue;
  border-color: lightblue;
  border-radius: 20%;
  font-size: 100%;
  font-family: monospace;
  padding: 12px 10px;
}

a:link {
  text-decoration: none;
  color: black;
  font-family: monospace;
}

a:visited {
    color: black;
}

span {
    color: white;
    font-family: monospace;
    text-align: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;

}

.p {
  font-family: "cursive", cursive;
  color: white;
  font-size: 120%;
}
