/*body {
background-image: url("trees 2.jpg");
}*/

body {
  background-color: black;
}

#glitchArt {
  background-image: url("trees 2.jpg");
}

#albumArt {
  background-image: url("b&w trees.jpg");
}

#collages {
  background-image: url("pool steps b&w copy.JPG");
}


h1 {
  font-family: "cursive", cursive;
  color: white;
}

span {
    color: white;
    font-family: monospace;
    text-align: center;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;

}

.p {
  font-family: "cursive", cursive;
  color: white;
  font-size: 120%;
}
