body {
  background-image: url("white flower.JPG");
  background-size: cover;
}

h1.cursive {
  font-family: "cursive", cursive;
  color: red;
  font-size: 100px
}

button {
  /*background-image: url("white flower.jpg");
  border-color: lightblue;
  border-radius: 200%;*/
  background-color: black;
  border-color: black;
}

.border {
  border-style: solid;
  border-color: white;
}

h2.monospace {
  font-family: "monospace", monospace;
  color: white;
}

p.monospace {
  font-family: "monospace", monospace;
  color: white;
}

a.monospace {
  font-family: "monospace", monospace;
  color: white;
}

.header {
    padding: 20px;
    text-align: center;
}

.topnav {
  overflow: hidden;
  background-image: url("");
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}

a:link {
  text-decoration: none;
  color: white;
  font-size: 150%;
}

a:visited {
    color: white;
}
